*{ /* selector universal margen 0 */
  margin: 0;
}
header{  /* propiedades para el header */
  width:1400px;
  height: 100px;
  background-color: #323c53;
  margin-top: 0;
  position: fixed;
}
header span{ /* propiedades para span en el header */
  font-family: Montserrat;
  display: inline-block;
  margin-top: 30px;
  font-size: 200%;
  font-weight: 700;
  margin-left: 80px;
}
a{ /* propiedades para anchor */
  color: white;
  text-decoration: none;
}
.datos a:hover{ /* anchor hover */
  color: #00c89e;
}
header .datos{ /* propiedades para div datos */
  font-family: Montserrat;
  font-size: 100%;
  font-weight: 900;
  margin-top: -25px;
  margin-left: 890px;
  word-spacing: 20px;
}

.contenedor{ /* contenido principal primera sección*/
  width: auto;
  height: 780px;
  background-color: #18bc9c;
  margin-top: 0px;
}

.contenedor img{ /* imagen central de la primera sección */
  margin-left: 480px;
  margin-top: 190px;
  width: 20%;
  margin-left: 520px;
}

.contenedor span{ /* propiedades a texto central */
  font-family: Montserrat;
  display: inline-block;
  width: auto;
  font-size: 450%;
  font-weight: 700;
  color: white;
  margin-left: 300px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

 .contenedor .hruno{ /* propiedades del primer hr */
  display: inline-block;
  width: 110px;
  height: 5px;
  background-color: white;
  border: none;
  margin-left: 530px;
  margin-bottom: 8px;
}

.contenedor .hrdos{ /* propiedades del segundo hr */
  display: inline-block;
  width: 110px;
  height: 5px;
  background-color: white;
  border: none;
  margin-left: 0px;
  margin-bottom: 8px;
}

.contenedor .fa-star{ /* icono estrella */
  font-size: 180%;
  color: white;
}

 .contenedor .subtitulo{ /* propiedades a span subtitulo */
  display: inline-block;
  margin-left: 300px;
  font-family: Lato;
  font-size: 170%;
  font-weight: normal;
}

.contenedordos{ /* contenido principal segunda sección */
  width: auto;
  height: 900px;
  background-color: white;
  text-align: center;
}


.contenedordos span{ /* título */
  display:block;
  font-weight: 700;
  font-size: 300%;
  font-family:Montserrat;
  padding-top: 100px;
  color: #27292e;
}

.contenedordos .hruno{ /* primer hr sección dos */
 display: inline-block;
 width: 110px;
 height: 5px;
 background-color: #323c53;
 border: none;
 margin-left: 0px;
 margin-top: 40px;
 margin-bottom: 8px;
}

.contenedordos .hrdos{ /* segundo hr sección dos */
 display: inline-block;
 width: 110px;
 height: 5px;
 background-color: #323c53;
 border: none;
 margin-left: 0px;
 margin-bottom: 8px;
}

.contenedordos .fa-star{ /* segundo icono estrella */
 font-size: 180%;
 color:#323c53;
}

.contenedordos img:nth-child(1){ /* primera imagen */
  display: inline-block;
  float: left;
  width: 350px;
  height: 250px;
  margin-left: 90px;
  margin-right: 35px;
  margin-top: 25px;
}

.contenedordos img:nth-child(2){ /* segunda imagen */
  display: inline-block;
  float: left;
  width: 350px;
  height: 250px;
  margin-right: 35px;
  margin-top: 25px;
}

.contenedordos img:nth-child(3){ /* tercera imagen */
  display: inline-block;
  float: left;
  width: 350px;
  height: 250px;
  margin-top: 25px;
}

.contenedordos img:nth-child(4){ /* primera imagen segunda fila */
  display: inline-block;
  float: left;
  width: 350px;
  height: 250px;
  margin-top: 35px;
  margin-left: 90px;
}

.contenedordos img:nth-child(5){ /* segunda imagen segunda fila */
  display: inline-block;
  float: left;
  width: 350px;
  height: 250px;
  margin-top: 35px;
  margin-left: 35px;
}

.contenedordos img:nth-child(6){ /* tercera imagen segunda fila */
  display: inline-block;
  float: left;
  width: 350px;
  height: 250px;
  margin-top: 35px;
  margin-left: 35px;
}

.about{ /* contenido principal tercera sección*/
  margin-top: 0px;
  height: 580px;
  background-color: #00c89e;
  text-align: center;
}

.about span{ /* título */
  display:block;
  font-weight: 700;
  font-size: 300%;
  font-family:Montserrat;
  padding-top: 100px;
  color: #fff;
  text-align: center;
}

.about .hruno{ /* primer hr sección tres*/
 display: inline-block;
 width: 110px;
 height: 5px;
 background-color: #fff;
 border: none;
 margin-left: 0px;
 margin-top: 40px;
 margin-bottom: 8px;
}

.about .hrdos{ /* segundo hr sección tres */
 display: inline-block;
 width: 110px;
 height: 5px;
 background-color: #fff;
 border: none;
 margin-left: 0px;
 margin-bottom: 8px;
}

.about .fa-star{ /* tercer icono estrella */
 font-size: 180%;
 color:#fff;
}

.about div p{ /* texto principal sección tres */
  display: inline-block;
  margin-top: 30px;
  width: 371px;
  font-family: Lato;
  font-size: 120%;
  color: white;
  text-align: left;
  line-height: 32px;
  padding-right: 30px;
}
.about div p:nth-child(2){ /* propiedades a segundo parrafo */
  display: inline-block;
  margin-top: 10px;
  width: 370px;
  font-family: Lato;
  font-size: 120%;
  color: white;
  text-align: left;
  line-height: 32px;
}

.boton{ /* botón */
  width: 200px;
  border: 2px solid #fff;
  padding: 11px 3px;
  border-radius: 5px;
  margin-left: 530px;
  margin-top: 40px;
  font-family:Lato;
  font-size: 120%;
  color: white;
}

.boton a:hover{ /* botón en hover */

  color: #00c89e;
  padding: 2px;
  padding: 8px 16px;
  background-color: #fff;
}

.contactme{ /* contenido principal cuarta sección  */
  width: auto;
  height: 900px;
  background-color: #fff;
  margin-top: 0px;
  text-align: center;
}

.contactme span{ /* título */
  display:block;
  font-weight: 700;
  font-size: 300%;
  font-family:Montserrat;
  padding-top: 100px;
  color: #27292e;
  text-align: center;
}

.contactme .hruno{ /* primer hr sección cuatro*/
 display: inline-block;
 width: 110px;
 height: 5px;
 background-color: #323c53;
 border: none;
 margin-left: 0px;
 margin-top: 40px;
 margin-bottom: 8px;
}

.contactme .hrdos{ /* segundo hr sección cuatro*/
 display: inline-block;
 width: 110px;
 height: 5px;
 background-color: #323c53;
 border: none;
 margin-left: 0px;
 margin-bottom: 8px;
}

.contactme .fa-star{ /* estrella sección cuatro*/
 font-size: 180%;
 color:#323c53;
}

.contactme ul li{ /* lista desordenada */
  width: 770px;
  padding-bottom: 35px;
  font-family: Lato;
  font-size: 170%;
  color: #979ba3;
  list-style: none;
  text-align: left;
  margin-left: 200px;
  margin-top: 40px;
  border-bottom: 1px solid #eee;
}
.contactme ul li:last-child{ /* último li de la lista desordenada */
  padding-bottom: 180px;
}

.contactme a{ /* anchor propiedades */
  display: inline-block;
  background-color: #00c89e;
  font-family: Lato;
  font-size: 130%;
  font-weight: 700;
  padding: 11px 16px;
  border-radius: 7px;
  margin-right: 730px;
  margin-top: 30px;
}

.contactme a:hover{ /* anchor hover */
  background-color: #1fad90;
}

footer{ /* propiedades del pie de página */
  background-color: #323c53;
  width: auto;
  height: 380px;
  margin-top: 100px;
  text-align: center;
}

footer span{ /* propiedades de los span */
  font-family: Montserrat;
  display: inline-block;
  float: left;
  margin-top: 80px;
  font-size: 170%;
  font-weight: 700;
  margin-left: 160px;
  color: white;
}

footer p{ /* propiedades de los dos párrafos dentro de footer */
  display: inline-block;
  float: left;
  font-family: Lato;
  font-size: 130%;
  color: white;
  width: 230px;
  margin-top: 40px;
  margin-left: 115px;
}
footer .iconos{ /* div iconos */
  display: inline-block;
  width: 300px;
  height: 100px;
  font-size: 150%;
  margin-top: 150px;
  margin-left: -1280px;
}

footer .iconos .fa-facebook , .fa-google-plus, .fa-twitter, .fa-linkedin, .fa-dribbble{
  padding: 10px 0 5px 0;
  border-radius: 50%;
  border: 1.5px solid white;
  width: 48px;
  height: 33px;
}

footer .iconos a:hover{ /* anchor dentro del div iconos */
  color:  #00c89e;
}

footer .parrafodos { /*último párrafo*/
  display: inline-block;
  float: left;
  font-family: Lato;
  font-size: 130%;
  color: white;
  width: 350px;
  margin-top: 40px;
  margin-left: 510px;
}

footer p a{ /* anchor dentro del párrafo /*/
  color: #00c89e;
}

footer p a:hover{ /* anchor hover */
  text-decoration:underline;
}

footer h4{ /*cierre */
  display: inline-block;
  font-family: Lato;
  font-weight: normal;
  color: white;
  float: left;
  margin-left: 480px;
  margin-top:  100px;
}
